
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Kazanç E-Ticaret</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color:yellow;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        header h1 {
            color: #333;
        }

        main h2 {
            font-size: 36px;
            color: #333;
        }

        main p {
            font-size: 18px;
            color: #666;
        }

        .cta-buttons {
            margin-top: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 0 10px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

            .btn:hover {
                background-color: #555;
            }

        footer {
            margin-top: 20px;
            color: #666;
        }
    </style>

</head>
<body>
    <div class="container">
        <header>
            <h1>Kazanç E-Ticaret</h1>
        </header>
        <main>
            <h2>Hoş Geldiniz!</h2>
            <p>Kazanç E-Ticaret'e hoş geldiniz. En iyi ürünleri en iyi fiyatlarla sunuyoruz.</p>
            <div class="cta-buttons">
                <a href="https://localhost:7005/Home/Home" class="btn">Ana Sayfa</a>
                
            </div>
        </main>
        <footer>
            <p>&copy; 2023 Kazanç E-Ticaret</p>
        </footer>
    </div>
</body>
</html>