
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şirket Onay Sayfası</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .container {
            margin: 50px auto;
            padding: 20px;
            max-width: 600px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        .buttons {
            margin-top: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 10px;
        }

            .button:last-child {
                margin-right: 0;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Şirketiniz Onaylanınca Size Email Veye Kayıtlı Telefon Numaranız İle Haber Vereceğiz!</h1>
        <p>Bizden gelen güncellemeleri bekleyin lütfen!</p>
        <div class="buttons">
            <a href="https://localhost:7005/Account/Profile" class="button">Profil</a>
            <a href="https://localhost:7005/Home/Home" class="button">Ana Sayfa</a>
        </div>
    </div>
</body>
</html>
